.vfrc-widget--launcher button {
  background-color: white;
}

.vfrc-widget--launcher button:hover {
  background-color: white;
}

.vfrc-avatar {
  background-size: contain;
}

.vfrc-card {
  height: auto;
}